
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default" style="margin-left: 10px;margin-right: 10px;margin-top: 25px; padding: 5px 0;">
<div class="panel-body">
  <div class="col-sm-8">
    <app-search (contactSelected)="selectedContactHandler($event)" (tagSelected)="selectedTagHandler($event)">
    </app-search>
  </div>
  <div class="col-sm-2 col-sm-offset-2">
    <button #notifier type="button" class="btn btn-default btn-secondary" [popover]="popTemplate" placement="bottom" (click)="updateStatus($event)"> !
</button>

    <template #popTemplate>
      <span [innerHtml]="message"> </span>
    </template>
  </div>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-sm-8">
    <app-employee-list [employees]="employees" (employeeChanged)="employeeChangedHandler($event)" (tagsChanged)="tagsChangedHandler()"
    (tagAdded)="tagsAddedHandler()"></app-employee-list>
  </div>
  <div class="col-sm-4">
    <app-employee-contact [employee]="employee" *ngIf="noOfEmployees > 0"></app-employee-contact>
  </div>
</div>
</div>